# No whitespace after the comma or in your part name!
config SHIELD_THRUM_LEFT
    def_bool $(shields_list_contains,thrum_left)

# No whitespace after the comma or in your part name!
config SHIELD_THRUM_RIGHT
    def_bool $(shields_list_contains,thrum_right)