#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

//        kscan = <&kscan0>;
//        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  100  (-600)   100   300>
            , <&key_physical_attrs 100 100  100   35  (-200)   200   325>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   25       0     0     0>
            , <&key_physical_attrs 100 100  400   75       0     0     0>
            , <&key_physical_attrs 100 100  650   75       0     0     0>
            , <&key_physical_attrs 100 100  750   25       0     0     0>
            , <&key_physical_attrs 100 100  850    0       0     0     0>
            , <&key_physical_attrs 100 100  950   35     200   975   325>
            , <&key_physical_attrs 100 100 1050  100     600  1075   300>
            , <&key_physical_attrs 100 100    0  200  (-600)   100   300>
            , <&key_physical_attrs 100 100  100  135  (-200)   200   325>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  400  175       0     0     0>
            , <&key_physical_attrs 100 100  650  175       0     0     0>
            , <&key_physical_attrs 100 100  750  125       0     0     0>
            , <&key_physical_attrs 100 100  850  100       0     0     0>
            , <&key_physical_attrs 100 100  950  135     200   975   325>
            , <&key_physical_attrs 100 100 1050  200     600  1075   300>
            , <&key_physical_attrs 100 100  100  235  (-200)   200   325>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100  750  225       0     0     0>
            , <&key_physical_attrs 100 100  850  200       0     0     0>
            , <&key_physical_attrs 100 100  950  235     200   975   325>
            , <&key_physical_attrs 100 100  325  350       0     0     0>
            , <&key_physical_attrs 100 100  425  375       0     0     0>
            , <&key_physical_attrs 100 100  625  375       0     0     0>
            , <&key_physical_attrs 100 100  725  350       0     0     0>
            ;
    };
};

